html {
    background-image: url('../media/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body {
    margin: 0;
}

canvas {
    display: block;
    margin: auto;
}